# AMD Firmware Configuration for Raisin Picasso
# Blobs in: 3rdparty/blobs/mainboard/raisin/picasso/

AMDFW_PUBSIGNED_PSP_KEYDB_FILE="3rdparty/blobs/mainboard/$(MAINBOARDDIR)/amd_pubkey_type00.bin"
AMDFW_PSP_BOOTLOADER_AB_FILE="3rdparty/blobs/mainboard/$(MAINBOARDDIR)/psp_bootloader_ab_type01.bin"
AMDFW_PSP_RECOVERY_FILE="3rdparty/blobs/mainboard/$(MAINBOARDDIR)/psp_recovery_bl_type03.bin"
AMDFW_SMU_FIRMWARE_FILE="3rdparty/blobs/mainboard/$(MAINBOARDDIR)/smu_fw_type208.bin"
AMDFW_SMU_FIRMWARE2_FILE="3rdparty/blobs/mainboard/$(MAINBOARDDIR)/smu_fw2_type212.bin"
AMDFW_SMU_FIRMWARE_FILE_B="3rdparty/blobs/mainboard/$(MAINBOARDDIR)/smu_fw_type108.bin"
AMDFW_SMU_FIRMWARE2_FILE_B="3rdparty/blobs/mainboard/$(MAINBOARDDIR)/smu_fw2_type112.bin"
AMDFW_PSP_SECG_FILE="3rdparty/blobs/mainboard/$(MAINBOARDDIR)/security_policy_type30.bin"
AMDFW_PSP_MP2_FILE="3rdparty/blobs/mainboard/$(MAINBOARDDIR)/mp2_fw_type31.bin"
AMDFW_DRAM_TRAINING_FILE="3rdparty/blobs/mainboard/$(MAINBOARDDIR)/pmu_fw_code_type224.bin"
AMDFW_DRAM_TRAINING_FILE_B="3rdparty/blobs/mainboard/$(MAINBOARDDIR)/pmu_fw_code_type124.bin"
AMDFW_PSP_TYPE32_FILE="3rdparty/blobs/mainboard/$(MAINBOARDDIR)/type32_type32.bin"
AMDFW_PSP_TYPE33_FILE="3rdparty/blobs/mainboard/$(MAINBOARDDIR)/type33_type33.bin"
AMDFW_PSP_TYPE34_FILE="3rdparty/blobs/mainboard/$(MAINBOARDDIR)/type34_type34.bin"
AMDFW_PSP_TYPE35_FILE="3rdparty/blobs/mainboard/$(MAINBOARDDIR)/type35_type35.bin"
AMDFW_PSP_TYPE36_FILE="3rdparty/blobs/mainboard/$(MAINBOARDDIR)/type36_type36.bin"
AMDFW_PSP_TYPE37_FILE="3rdparty/blobs/mainboard/$(MAINBOARDDIR)/type37_type37.bin"
AMDFW_BIOS_RTM_VOLUME_FILE="3rdparty/blobs/mainboard/$(MAINBOARDDIR)/bios_rtm_vol_type21.bin"
AMDFW_BIOS_RTM_VOLUME2_FILE="3rdparty/blobs/mainboard/$(MAINBOARDDIR)/bios_rtm_vol2_type40.bin"
AMDFW_BIOS_NV_DATA_FILE="3rdparty/blobs/mainboard/$(MAINBOARDDIR)/bios_nvdata_type22.bin"
